<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="static/css/main.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Title</title>
</head>
<body>
<div class="position-relative">
    <div class="position-absolute top-2 start-2 translate-middle">
        <h6 style="color: #FFFFFF">TMService</h6>
        <!--        <img class="img_fluid" src="static/img/icon.png" alt="">-->
    </div>
</div>
<div class="img__container">
    <img src="static/img/кайф.jpg" class="img-fluid" alt="" ;
         style="filter: brightness(50%); width: 100%">
    <img class="img_fluid" src="static/img/icon.png" alt="" ;
         style="position: absolute; top: 3%; left: 1%; index-z: 100">
    <h1 class="display-6" style="color: #FFFFFF; position: absolute; top: 4%; left: 5%; index-z: 100">TMService</h1>

    <div class="centered">
        <h1 class="display-3" style="color: #FFFFFF">Карта городских проблем</h1>
        <p><a href="#top">

            <style>
            .center {
                        text-align: center;
                    }




            </style>
            <div class="center">
                <button type="button" class="btn btn-outline-light">
                    Начнём >>
                </button>
            </div>

        </a></p>
    </div>
</div>
<p><a name="top"></a></p>
<div class="p-3 mb-2 bg-dark text-white" style="height: 200px; width: 100%"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
</body>
</html>