<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>TMService</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU" type="text/javascript">
    </script>
    <script type="text/javascript">
        ymaps.ready(init);
        function init(){
            var myMap = new ymaps.Map("map", {
                center: [55.76, 37.64],
                zoom: 7
            });

            var myPlacemark = new ymaps.Placemark([55.8, 37.6], {}, {draggable: true});
            myPlacemark.events.add('dragend', function(e) {
            var thisPlacemark = e.get('target');
            var problemName = "Название проблемы";
            thisPlacemark.properties.set('balloonContent', problemName);
            });
            myMap.geoObjects.add(myPlacemark);
        }
    </script>
    <style>
        html, body, #map {
            width: 100%; height: 100%; padding: 0; margin: 0;
        }
    </style>
</head>

<body>
    <div id="map"></div>
</body>

</html>